@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  margin: 0 20px;
  padding: 0 50px;
  font-size: 20px;
}

.nav-item {
  display: flex;
  list-style: none;
  gap: 20px;
}

.hero-section {
  display: flex;
  gap: 50px;
  padding: 50px 100px;
}

#subtagline {
  font-size: 10px;
}

.hero-containers {
  width: 50%;
}

.product-img img {
  width: 100%;
  margin-top: 50px;
}

.hero-containers pre {
  font-size: clamp(36px, 8vw, 108px);
  font-weight: 800;
  line-height: 1;
}

.login-btn {
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
  padding: 5px;
}

#category-btn {
  background-color: white;
  color: gray;
  font-size: 20px;
  padding: 5px;
}

.brand-btn-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
  }

  .hero-containers {
    width: inherit;
  }

  .hero-containers h1 {
    font-size: 48px;
  }
}

@media(max-width: 768px) {
  .navbar {
    font-size: 16px;
  }

  .login-btn {
    font-size: 16px;
  }

  #category-btn {
    font-size: 16px;
  }

  .nav-item {
    /* display: none; */
    gap: 10px;
  }
}