@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* navbar css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 72px;
  margin: 0 20px;
  padding: 0 50px;
  font-size: 20px;
}

.nav-item {
  display: flex;
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  gap: 24px;
}

/* hero section css */
.hero-section {
  display: flex;
  gap: 50px;
  padding: 50px 100px;
}

.hero-containers {
  width: 50%;
}

.hero-title {
  font-size: 108px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0%;
}

.hero-description {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5A5959;
}

#subtagline {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #5A5959;
}

.shopsite-img {
  display: flex;
  gap: 16px;
}

.brand-btn-container {
  display: flex;
  gap: 10px;
}


.product-img img {
  width: 100%;
  margin-top: 50px;
}

/* all buttons css */
.btn-family {
  font-family: Inter, sans-serif;
  font-weight: 600;
  padding: 6px 16px 6px 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.login-shop-btn {
  background-color: #D01C28;
  color: #FFFFFF;
  border: none;
}

#login-btn {
  font-size: 16px;
}

#shop-btn {
  font-size: 24px;
}

#category-btn {
  border: 1px solid #000000;
  font-size: 24px;
  background-color: white;
  color: gray;
}



@media (max-width: 768px) {
  .navbar {
    font-size: 16px;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-containers {
    width: 100%;
  }

  .hero-title {
    font-size: 10vw;
  }

  .nav-item {
    /* display: none; */
    gap: 10px;
  }

}