@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* -----others----- */

.container{
    max-width: 1200px;
    width: 90%;
    margin:auto;
}

.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary{
    color: #fff;
    background: #16A083;
}

/* ------navbar style--------- */

.navbar{
    box-shadow: 0px 2px 10px 10px #061761;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 9999;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items{
    order: 2;
    display: flex;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
}
.logo{
    order: 1;
    font-size: 3rem;
}
.navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color: tomato;
}


/* ----showcase style----- */

.showcase-area{
    height: 50vh;
    background: linear-gradient(rgba(9, 28, 86, 0.905),rgba(23, 233, 40, 0.329)),url("./img/img/header-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}

.main-title{
    text-transform: uppercase;
    color: white;
}
/* -------for desktop mode-------- */
.navbar input[type='checkbox'], .navbar .hamburger-lines{
    display: none;
}