* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav img {
margin-left: 100px;
}

#title {
    font-weight: 800;
    font-style: normal;
    font-Size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

#description {
    font-weight: 600;
    font-style: normal;
    font-Size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5A5959;
}
.title-div{
    width: 975px;
}

.main-content {
    border: 1px solid green;
    margin-left: 150px;
    margin-top: 100px;
}

.main-form-area {
    display: flex;
    padding-top: 50px;
    gap: 60px;
    border: 5px solid tomato;

}

.div-container {
    /* min-height: 500px;*/
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
}

.support-btn {
    display: grid;
    grid-template-columns: repeat(2, 220px);
    grid-column-gap: 32px;
}

.btn-design {
    background-color: black;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

#email-submit-btn {
    color: black;
    background-color: white;
    width: 472px;
}

.service-img {
    /* width: 600px;
    max-height: 580px;
    margin-top: -20px */
    width: 600px;
    max-height: 580px;
    object-fit: cover;
}

#form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-area label {
    position:relative;
    right: 180px;
    top: 10px;
    background: white;
    padding: 0 4px 0 4px;
}

#form-area input {
    width: 440px;
    height: 40px;
}


#form-area textarea {
    width: 440px;
    height: 130px;
}

.submit-form {
    width: 220px;
}
.submit-form-btn-alignment{
display: flex;
justify-content: flex-end;
margin-top: 10px;
position: relative;
right: 15px;
}